.eventCard {
  position: absolute;
  top: 30%;
  left: 30%;
  translate: (50%);
  width: 330px;
  height: 450px;
  padding: 1% 2%;
  background: #457b9d;
  border-radius: 8px;

  &__eventHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-title {
      font-weight: inherit;
    }

    &__icons {

      &-deleteButton {
        cursor: pointer;
        background: inherit;
        margin-right: 15px;
        border: none;
        color: #FFFFFF;
        padding: 6px 10px;

        &:hover {
          background: red;
          transition: 1s;
          border-radius: 5px;
        }
      }

      &-closeIcon {
        width: 12px;
        cursor: pointer;
      }
    }
  }

  &__eventBody {
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 95%;

    &__inputs {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 80%;
      height: 18vh;

      &-input {
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        width: 100%;
        height: 35px;
        margin-bottom: 5px;
      }

      &-description {
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 5px 15px;
        border: none;
        border-radius: 5px;
        width: 100%;
      }
    }

    &__timeDate {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-top: 100px;

      &-date {
        padding: 10px;
        border: none;
        border-radius: 10px;
      }

      &-time {
        padding: 10px;
        border: none;
        border-radius: 10px;
      }
    }
  }

  &__buttonWrapper {
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    margin-top: 25px;

    button {
      cursor: pointer;
      background: inherit;
      margin-right: 15px;
      border: .3px solid chocolate;
      color: #FFFFFF;
      padding: 10px 25px;
      border-radius: 5px;

      &:hover {
        background: lightgreen;
        transition: 1s;
        border: .5px solid lightgreen;
      }
      &:disabled {
        transition: 1s;
        background: #696868;
        border: .5px solid #696868;
      }
      &:enabled {
        transition: 1s;
      }
    }
  }
}