@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');

body {
    margin: 0;
    padding: 0;
    background: #457B9D;
    color: #FFFFFF;
    font-family: -apple-system, BlinkMacSystemFont, 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
